*{ margin: 0; padding: 0;}
@media print {
    body{
        background: transparent;
        background-image: none;
        color: #000;
        text-align: left;
        text-shadow: none;
        filter: none;
        float: none;
    }
    #head , #boot , #nav{display: none;}/*要隐藏掉的元素*/
    .Noprn{ display:none;}
}
.list {text-align: center;}
#get { width: 500px; height: 300px; position: relative; text-align: center; font-size: 16px; margin: 20px auto;}
#num { width: 100px; height: 50px; right: 0; position: absolute;}
.title { font-weight: bold; font-size: 18px; height: 30px; padding: 20px 5px 5px 5px;}
.get_time { font-size: 12px; font-weight: lighter; text-decoration: none;}
.undertitle { border-bottom: 2px black solid;}
.underline { border-bottom: 1px solid black; }
#left,#right { float: left;}
#left { width: 300px; height: 100px;}
#right { width: 180px; height: 100px;}
.reg { width: 20px; height: 100px; float: left; font-size: 12px;}
.content { text-align: left; padding: 10px; height: 30px;}
#get p { display: inline-block;}
#main { width: 500px; height: 250px; border: 1px solid black;}
.money { width: 104px;}
.name { width: 150px;}
.cash { width: 48px;}
.reason { width: 340px;}
.ps { width: 340px;}
.big { width: 102px;}
.contentB { text-align: left; padding: 10px; height: 30px; width: 500px; display: block; float: left;}
.contentA { text-align: left; padding: 10px; height: 30px; width: 200px; display: block; float: right;}
.footer { float: right; width: 352px; padding: 5px;}

